<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" center="width=devic-width inital-scale=1.0"/> 
        <!--控制網頁縮放 width(寬度為裝置的寬度) inital-scale(縮放比是一倍)-->
        <meta charset="UTF-8"/>
        <title>Flexbox 網頁切版</title>
        <link rel="stylesheet" typ="text/css" href="layout.css">
    </head>
    <body>
        <div class="frame"> <!--左右排列要在容器身上-->
            <div class="left">網站標題</div>
            <div class="right">Right
                <div class="item">選項 1</div>
                <div class="item">選項 2</div>
                <div class="item">選項 3</div>
            </div>
        </div>
        <div class="welcome">
            <div class="text">歡迎光臨</div>
        </div>
    </body>
</html>